
* {
	padding:0;
	margin:0;
}

html{
	font:14px normal Arial, sans-serif;
	color:#626771;
	height: 100%;
	min-height: 100%;
	position: fixed;
}

body{
	text-align: center;
	height: 100%;
}

.info-div {
	position: fixed;
    z-index: 999;
    padding-top: 300px;
    margin-left: 25%;
    width: 500px;
}

.hidden {
	display: none;
}

.show {
	display: block;
}